body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #007BFF;
}
